{% extends "default.html" %}

{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <h2>Корзина</h2>
    <hr>
    {% if cart %}
        <table class="cart" cellpadding="10" align="center">
            <thead>
            <tr>
                <th>Фото</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Удалить</th>
                <th>Цена за единицу</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            {% if product.images.all %}
                                {% with product.images.first as obj  %}
                                    <img src="{{ obj.image.url }}" width="100">
                                {% endwith %}
                            {% else %}
                                <img src="{% static 'no_image.png' %}" width="100">
                            {% endif %}
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td><a href="{% url 'cart_remove' product_id=product.id %}">Удалить</a></td>
                        <td class="num">{{ item.price }} &#8381;</td>
                        <td class="num">{{ item.total_price }} &#8381;</td>
                    </tr>
                {% endwith %}
            {% endfor %}
            {% if cart.coupon %}
                <tr class="subtotal">
                    <td>Промежуточный итог</td>
                    <td colspan="4"></td>
                    <td class="num">{{ cart.get_total_price }} &#8381;</td>
                </tr>
                <tr>
                    <td>
                        Купон "{{ cart.coupon.name }}"
                        (скидка {{ cart.coupon.discount }}%)
                    </td>
                    <td colspan="4"></td>
                    <td class="num neg">
                        - {{ cart.get_discount|floatformat:"2" }} &#8381;
                    </td>
                </tr>
            {% endif %}
            <tr class="total">
                <td>Итого</td>
                <td colspan="4"></td>
                <td class="num">
                    {{ cart.get_total_price_after_discount|floatformat:"2" }} &#8381;
                </td>
            </tr>
            </tbody>
        </table>
        <form action="{% url 'coupon_apply' %}" method="post">
            {{ coupon_apply_form }}
            <input type="submit" value="Применить">
            {% csrf_token %}
        </form>
        <hr>
        <p class="text-right">
            <button><a href="{% url 'product_list' %}">Продолжить покупки</a></button>
            <button><a href="{% url 'order_create' %}">Оформить заказ</a></button>
        </p>
    {% else %}
		<p>Корзина пуста</p>
    {% endif %}
{% endblock %}
