{% extends 'default.html' %}

{% block title %}
	About
{% endblock title %}

{% block content %}
    <h2>О компании</h2>
    <hr>
<p class="about">Наша компания основана 1 мая 2002 года, Неклюдовым Александром Викторовичем, в г. Пенза.</p>
<p class="about">На протяжении всего времени существования, мы переживали не один кризис, взлеты и падения, вместе с тем за 20 лет
    существования некоторые вещи оставались неизменны, качество! Наша компания осталась верна своим принципам и идеалам
    поэтому на сегодняшний день мы продолжаем выпускать натуральный хлеб без добавок и ГМО. Для получения настоящего,
    высококачественного продукта мы постоянно находимся в поиске лучших ингредиентов, а так же поставщиков, которые
    могут предоставить стабильное качество.</p>
<p class="about">Мы считаем, что наша приверженность к выпуску качественной продукции способствует развитию компании, поэтому сегодня
    тысячи семьей г. Пенза и Пензенской области выбирают нашу Продукцию!</p>
<p class="about">Мы не останавливаемся на достигнутом, планомерно расширяем свою линейку продукции, вместе с тем, это не происходит
    одномоментно, длительное время мы оптимизируем, изобретаем, пробуем и улучшаем технологию производства, после чего
    представляем наши вновь разработанные продукты нашим клиентам.</p>
<hr>
<button>
    <a href="{% url 'send_message' %}">Написать нам</a>
</button>
<button>
    <a href="{% url 'become_dealer' %}">Стать поставщиком</a>
</button>
<button>
    <a href="/media/upload/file.pdf" download="file.pdf">Политика конфиденциальности</a>
</button>
{% endblock content %}
